

.mainpage-mainpage {
  width: 100%;
  height: 2307px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(11, 32, 223, 1) 25%, rgba(66, 82, 229, 1) 45%, rgba(138, 145, 211, 1) 63%, rgba(255, 255, 255, 0.6800000071525574) 81%, rgba(255, 255, 255, 1) 100%);
}

.mainpage-navbar {
  top: 69px;
  left: 75px;
  width: 100px;
  height: 143px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.mainpage-logo {
  display: flex;
  position: relative;
  box-sizing: content-box;
  align-items: center;
  border-color: transparent;
  margin-right: 25px;
}
.mainpage-ellipse1 {
  width: 154px;
  height: 143px;
  position: relative;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
}
.mainpage-text {
  color: rgba(20, 240, 255, 1);
  width: 253px;
  height: auto;
  font-size: 40px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: ExtraBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mainpage-frame1 {
  width: 450px;
  height: 115px;
  display: flex;
  padding: 5px 10px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 25px;
  justify-content: center;
}
a:link {
  text-decoration: none;
}
.mainpage-text02 {
  color: rgba(236, 164, 243, 1);
  width: 160px;
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 10px;
  margin-bottom: 0;
  text-decoration: none;
}
.mainpage-text04 {
  color: rgba(255, 255, 255, 1);
  width: 160px;
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 10px;
  margin-bottom: 0;
  text-decoration: none;
}
.mainpage-text06 {
  color: rgba(255, 255, 255, 1);
  width: 160px;
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mainpage-login {
  width: 160px;
  height: 60px;
  display: flex;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 25px;
}
.mainpage-rectangle2 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 60px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(168, 189, 189, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.mainpage-text08 {
  top: 11px;
  left: 5px;
  color: rgba(255, 255, 255, 1);
  width: 155px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
    border-radius: 10px;
    border-color: transparent;
    background-color: transparent;
    background-image: linear-gradient(75deg, rgba(147, 11, 193, 1) 15%, rgba(105, 9, 211, 1) 32%, rgba(38, 6, 237, 1) 71%);

}
.mainpage-signup {
  width: 160px;
  height: 60px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  background-image: linear-gradient(75deg, rgba(147, 11, 193, 1) 15%, rgba(105, 9, 211, 1) 32%, rgba(38, 6, 237, 1) 71%);
}
.mainpage-text10 {
  top: 10.5882568359375px;
  left: 7.39495849609375px;
  color: rgba(255, 255, 255, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
    border-radius: 10px;
    border-color: transparent;
    background-color: transparent;
    background-image: linear-gradient(75deg, rgba(147, 11, 193, 1) 15%, rgba(105, 9, 211, 1) 32%, rgba(38, 6, 237, 1) 71%);
}
.mainpage-frame2 {
  top: 143px;
  left: 1646px;
  width: 100px;
  height: 100px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mainpage-emotion-rating1 {
  top: 1400px;
  left: 490px;
  width: 420px;
  height: 390px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
    border-radius: 44px;
    
}
.mainpage-frame3 {
  top: 869px;
  left: 204.5px;
  width: 145px;
  height: 136px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mainpage-submit {
  top: 360px;
  left: 1160px;
  width: 279px;
  height: 67px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mainpage-rectangle5 {
  top: 0px;
  left: 38.50986099243164px;
  width: 201px;
  height: 67px;
  position: absolute;
  border-color: transparent;
  border-radius: 60px;
}
.mainpage-text12 {
  top: 8.492958068847656px;
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #2807ED 0%, #2506ED 23.91%, #710ACD 59.85%, #900BC0 100%);
}
.mainpage-submit1 {
  top: 475px;
  left: 1162px;
  width: 279px;
  height: 67px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mainpage-rectangle51 {
  top: 0px;
  left: 38.50986099243164px;
  width: 201px;
  height: 67px;
  position: absolute;
  border-color: transparent;
  border-radius: 60px;
}
.mainpage-text17 {
  top: 8.492958068847656px;
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #2807ED 0%, #2506ED 23.91%, #710ACD 59.85%, #900BC0 100%);
}
.mainpage-premium {
  top: 540.4340209960938px;
  left: 695px;
  width: 399px;
  height: 185.36599731445312px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mainpage-rectangle21 {
  top: 125.56598663330078px;
  left: 66px;
  width: 333px;
  height: 57px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px;
}
.mainpage-vector {
  top: 0px;
  left: 0px;
  width: 49px;
  height: 40px;
  position: absolute;
}
.mainpage-text22 {
  top: 30px;
  left: 90px;
  color: rgba(0, 0, 0, 1);
  width: 236px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
    border-radius: 10px;
    background-color: D3BF0C;
    
}
.mainpage-text24 {
  top: 575px;
  left: 160px;
  color: rgba(255, 255, 255, 1);
  width: 268px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Outfit;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
    border-spacing: inherit;
    
}
.mainpage-ellipse2 {
  top: 892px;
  left: 409px;
  width: 335px;
  height: 187px;
  position: absolute;
  border-color: transparent;
}
.mainpage-text26 {
  top: 690px;
  left: 450px;
  color: rgba(0, 0, 0, 1);
  width: 289px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mainpage-footer {
  top: 2000px;
  left: 0px;
  width: 1728px;
  height: 307px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(24, 30, 81, 1);
}
.mainpage-legal {
  top: 35.62451171875px;
  left: 680px;
  width: 222px;
  height: 199.0784912109375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mainpage-text28 {
  top: 75.44033813476562px;
  left: 0.000045211229007691145px;
  color: white;
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mainpage-text30 {
  top: 124.68606567382812px;
  left: 0.000045211229007691145px;
  color: white;
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mainpage-text32 {
  top: 169.7406768798828px;
  left: 0.000045211229007691145px;
  color: white;
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mainpage-text34 {
  left: 31.999954223632812px;
  color: white;
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Black;
  text-align: center;
  font-family: Outfit;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mainpage-menu {
  top: 36px;
  left: 170px;
  width: 193px;
  height: 202.337890625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mainpage-text36 {
  top: 125px;
  left: 21px;
  color: white;
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mainpage-text38 {
  top: 175px;
  color: white;
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mainpage-text43 {
  top: 75px;
  left: 21px;
  color: white;
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mainpage-text45 {
  left: 21px;
  color: white;
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Black;
  text-align: center;
  font-family: Outfit;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mainpage-text47 {
  top: 35.62451171875px;
  left: 1140px;
  color: white;
  width: 217px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Black;
  text-align: center;
  font-family: Outfit;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mainpage-text-enter {
  top: 350px;
  left: 220px;
  width: 1200px;
  height: 229px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
/*  justify-content: flex-start;*/
  background-color: transparent;
}
.mainpage-rectangle3 {
  top: 0px;
  left: 73px;
  width: 898px;
  height: 229px;
  position: absolute;
  border-color: transparent;
  border-radius: 35px;
}
.mainpage-text49 {
  top: 25px;
  color: rgba(0, 0, 0, 1);
  width: 800px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Light;
  text-align: center;
  font-family: Lexend Deca;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
    border-radius: 10px;
}
.mainpage-indicator {
  top: 922px;
  left: 1432px;
  width: 41.5px;
  height: 176px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mainpage-rectangle29 {
  top: 146px;
  left: 0px;
  width: 41px;
  height: 30px;
  position: absolute;
}
.mainpage-rectangle28 {
  top: 73px;
  left: 0px;
  width: 41px;
  height: 30px;
  position: absolute;
}
.mainpage-rectangle30 {
  top: 0px;
  left: 0.5px;
  width: 41px;
  height: 30px;
  position: absolute;
}
.mainpage-text51 {
  top: 700px;
  left: 1000px;
  color: greenyellow;
  width: 149px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mainpage-text53 {
  top: 850px;
  left: 1010px;
  color: red;
  width: 149px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mainpage-text55 {
  top: 775px;
  left: 1000px;
  color: lightgray;
  width: 149px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mainpage-text57 {
  top: 1100px;
  left: 10px;
  color: rgba(235, 218, 242);
  width: 1394px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
    
}