<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="home.css">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}">
    <link href={{"https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"}} rel="stylesheet">
    <link href={{"https://fonts.googleapis.com/css2?family=PT+Sans&display=swap"}} rel="stylesheet">

</head>

<body>
    <!-- Icon Navigation Bar -->
    <div class="icon-bar">
        <a class="active" href="#"><i class="fab fa-angellist">hi</i></a>
        <a href="#"><i class="fas fa-cloud-meatball">HOME</i></a>
        <a href="#"><i class="fas fa-cookie-bite">ABOUT</i></a>
        <a href="#"><i class="fas fa-couch">CONTACT US </i></a>
        <a href="#"><i class="fas fa-dragon"></i>CREATORS</a>
    </div>
    <!-- <div class="hero-image">
        <div class="hero-text">
            <h1>The Nature of Ramen</h1>
            <p>Slurping Ramen is not rude</p>
            <button>Slurp</button>
        </div>
    </div> -->


</body>
</html>