<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  href="{{ url_for('static', filename='css/login.css') }}">
  <title>login</title>
</head>
<body>
  <body>
    <div>
        <div>
          <div class="login-login">
            <div class="login-footer">
              <div class="login-legal">
                <span class="login-text"><span>General info</span></span>
                <span class="login-text02"><span>Privacy policy</span></span>
                <span class="login-text04"><span>Terms and condition</span></span>
                <span class="login-text06"><span>Legal</span></span>
              </div>
              <div class="login-menu">
                <span class="login-text08"><span>About us</span></span>
                <span class="login-text10">
                  <span>
                    <span>Contact us</span>
                    <br />
                    <span></span>
                  </span>
                </span>
                <span class="login-text15"><span>Home</span></span>
                <span class="login-text17"><span>Menu</span></span>
              </div>
              <span class="login-text19"><span>Follow us</span></span>
            </div>
            <div class="login-navbar">
              <div class="login-logo">
                <img
                  src="../static/logo.jpeg"
                  alt="Ellipse19570"
                  class="login-ellipse1"
                />
                <span class="login-text21"><span>D3CODEIT!</span></span>
              </div>
              <div class="login-frame1">
                <div class="login-frame1">
                <a href='{{ url_for("index") }}'>
                <span class="login-text23"><span>Home</span></span>
                </a></div>
                <div class="login-frame1">
                <a href='{{ url_for("about_page") }}'>
                <span class="login-text23"><span>About us</span></span>
                </a></div>
                <div class="login-frame1">
                <a href='{{ url_for("contact_page") }}'>
                <span class="login-text27"><span>Contact us</span></span>
                </a></div>
              </div>
             
              <div class="login-signup">
                <span class="login-text31"><span>Sign up</span></span>
              </div>
            </div>
           
            <div class="login-frame2"></div>
            <form action="{{ url_for('login') }}" method="POST">
              {% if mesage is defined and mesage %}
              <div class="alert alert-warning">{{ mesage }}</div>
            {% endif %}
            <div class="form-group">
              <label class="login-text35" for="email">Email:</label>
              <input class="login-email" type="email" class="form-control" id="email" name="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
              <label class="login-text40" for="pwd">Password:</label>
              <input class="login-password" type="password" class="form-control" id="password" name="password" placeholder="Enter password" name="pswd">
            </div>    
            <button type="submit"  class="login-submit" >Login</button>
            <div class="login-noaccount">
            <p  class="login-text53">Dont't have an account?  <a  class="login-text55" href="{{url_for('signup_page')}}"> Register</a></p></div>
          </form>
            <span class="login-text42">
              <span>
                <span>Welcome back!</span>
                <br />
                <span></span>
              </span>
            </span>
            <span class="login-text47">
              <span>Welcome back! Please enter your details.</span>
            
            
            
            </div>
          </div>
        </div>
      </div>
</body>
</body>
</html>