<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage</title>
    <!-- <link rel="stylesheet"  href='/static/mainpage.css'> -->
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/mainpage.css') }}">
    

</head>
<body>
    <div>
    <link href="./mainpage.css" rel="stylesheet" />
    <div>
      <div class="mainpage-mainpage">
        <div class="mainpage-navbar">
          <div class="mainpage-logo">
            <img
              alt="Ellipse12876"
              src="../static/logo.jpeg"
              class="mainpage-ellipse1"
            />
            <span class="mainpage-text"><span>D3CODEIT!</span></span>
          </div>
          <div class="mainpage-frame1">
            <div class="mainpage-frameA">
              <a href='{{ url_for("index") }}'>
                <span class="mainpage-text02"><span>Home</span></span>
              </a>
            </div>
            <div class="mainpage-frameB">
              <a href='{{ url_for("about_page") }}'>
                <span class="mainpage-text04"><span>About us</span></span>
              </a>
            </div>
            <div class="mainpage-frameC">
              <a href='{{ url_for("contact_page") }}'>
                <span class="mainpage-text06"><span>Contact us</span></span>
              </a>
            </div>
            
            
            
          </div>
          <div class="mainpage-login">
            <!-- <img
              alt="Rectangle2I287"
              src="/playground_assets/rectangle2i287-3gkv-200h.png"
              class="mainpage-rectangle2"
            /> -->
            <a href='{{ url_for("login_page") }}'>
            <span class="mainpage-text08"><span>Log in</span></span>
            </a>
          </div>
          <div class="mainpage-signup">
            <a href='{{ url_for("signup_page") }}'>
            <span class="mainpage-text10"><span>Sign up</span></span>
            </a>
          </div>
        </div>
        <!-- <div class="mainpage-frame2"></div> -->
        <img
          alt="EmotionRating12877"
          src="../static/EmotionRating.jpeg"
          class="mainpage-emotion-rating1"
        />
        <!-- <div class="mainpage-frame3"></div> -->
        <!-- <div class="mainpage-submit">
          <span class="mainpage-text12">
              <span>Submit</span>
                
          </span>
        </div> -->
        
          <!-- <img
            alt="Rectangle52878"
            src="/playground_assets/rectangle52878-nyx-200h.png"
            class="mainpage-rectangle51"
          /> -->
          
        
        
      
        <div class="mainpage-premium">
          <span class="mainpage-text22"><span>Upgrade Premium</span></span>
        </div>
        <span class="mainpage-text24"><span>Word limit : 75</span></span>
        <!-- <div class="mainpage-result">
          <span class="mainpage-text26"><span>Result displayed</span></span>
        </div> -->
        <div class="mainpage-footer">
          <div class="mainpage-legal">
            <span class="mainpage-text28"><span>General info</span></span>
            <span class="mainpage-text30"><span>Privacy policy</span></span>
            <span class="mainpage-text32"><span>Terms and condition</span></span>
            <span class="mainpage-text34"><span>Legal</span></span>
          </div>
          <div class="mainpage-menu">
            <span class="mainpage-text36">
              <span class="mainpage-text37">About</span>
              <span class="mainpage-text38"></span>
              <span>us</span>
            </span>
            <span class="mainpage-text40">
              <span>
                <span>Contact us</span>
                <br />
                <span></span>
              </span>
            </span>
            <span class="mainpage-text45"><span>Home</span></span>
            <span class="mainpage-text47"><span>Menu</span></span>
          </div>
          <!-- <img
            alt="followusicons22871"
            src="/playground_assets/followusicons22871-aik7-200h.png"
            class="mainpage-followusicons2"
          /> -->
          <span class="mainpage-text49"><span>Follow us</span><br><br>
        <img src="../static/followusicons.png"></span>
        </div>
        <div class="mainpage-text-enter">
          <!-- <img
            alt="Rectangle32871"
            src="/playground_assets/rectangle32871-7kcyk-300h.png"
            class="mainpage-rectangle3"
          /> -->
          <span class="mainpage-text51">

           
            <form class="Senti-text" action = "{{url_for('predict')}}" method = "post" >
              <label for="sentiment"></label>
              <input style="font-size:25px;"  type="text" class="sentiment" name="Text" placeholder="  Enter text here..." id="sentiment" lang="si" >
              <div class="mainpage-text-enter">

            <!-- <textarea class="mainpage-text49" rows="7" cols="20" placeholder="Enter below the text to undergo the sentiment analysis..." id="SinhalaText" name='Text'></textarea> -->

              </div>

            <textarea class="mainpage-text26" rows="7" cols="20"  style="background-color: lightgray; " autocomplete="off" id="lll">{{ prediction_text }}</textarea>
            <div class="mainpage-submit">
            <button class="mainpage-text12">
                <span>Submit</span>
            </button>
            </div>

            <button class="clearbutton" onclick="document.getElementById('sentiment').value = '' ">
              Clear</button>
          
            </form>
          
        </div> 
      </span>
        </div>
        <span class="mainpage-text53">
          <span>
            D3CODEIT! is an online application that is developed with the purpose
            of helping all scale businesses in understanding their customers
            opinions
          </span>
        </span>
        <span class="mainpage-text55">
          <span>Enter Sinhala statement to undergo Sentiment Analysis</span>
        </span>
        <span class="mainpage-text57">
          <span>Below colour indicates the sentiment value</span>
        </span>
        <div class="mainpage-indicators">
          <span class="mainpage-text59"><span>Neutral</span></span>
          <span class="mainpage-text61"><span>Negative</span></span>
          <span class="mainpage-text63"><span>Positive</span></span>
        </div>
        <span class="mainpage-text65"><span>Indicators</span></span>
      </div>
    </div>
  </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script>
  $(document).ready(function() {
    $('#sentiment').val('');
    // $('#lll').val('');
  });
</script> -->
</html>
