<html>
  <head>
    
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/signup.css') }}">
  </head>
  <body>
    <div>
        <link href="./signup.css" rel="stylesheet" />
        <div>
          <div class="signup-signup">
            <div class="signup-navbar">
              <div class="signup-logo">
                <img
                  alt="Ellipse19513"
                  src="..\static\logo.jpeg"
                  class="signup-ellipse1"
                />
                <span class="signup-text"><span>D3CODEIT!</span></span>
              </div>
              <div class="signup-frame1">
                <div class="signup-frameA">
                  <a href='{{ url_for("index") }}'>
                    <span class="signup-text02"><span>Home</span></span>
                  </a>
                </div>
                <div class="signup-frameB">
                  <a href='{{ url_for("about_page") }}'>
                    <span class="signup-text04"><span>About us</span></span>
                  </a>
                </div>
               <div class="signup-frameC">
                <a href='{{ url_for("contact_page") }}'>
                  <span class="signup-text06">
                    <span>
                      <span>Contact us</span>
                      <br />
                      <span></span>
                    </span>
                  </span>
                 </a>
               </div>
               
                
              </div>
             
            </div>
            <div class="signup-submit">
              <a href="mainpage.html">
             <button id="signup-text15">Create account</button>
             </a>
            </div>
            <div class="signup-footer">
              <div class="signup-legal">
                <span class="signup-text20"><span>General info</span></span>
                <span class="signup-text22"><span>Privacy policy</span></span>
                <span class="signup-text24"><span>Terms and condition</span></span>
                <span class="signup-text26"><span>Legal</span></span>
              </div>
              <div class="signup-menu">
                <span class="signup-text28"><span>About us</span></span>
                <span class="signup-text30">
                  <span>
                    <span>Contact us</span>
                    <br />
                    <span></span>
                  </span>
                </span>
                <span class="signup-text35"><span>Home</span></span>
                <span class="signup-text37"><span>Menu</span></span>
              </div>
              <span class="signup-text39"><span>Follow us</span><br><br>
              <img src="..\static\followusicons.png"></span>
            </div>
           
            <span class="signup-text41"><span>Name*</span></span>
            <label for="name"></label>
            <input type="text" class="signup-rectangle11" name="name" id="name" placeholder=" NAME"><br><br>

            <span class="signup-text45"><span>Email*</span></span>
            <label for="password"></label>
            <input type="text" class="signup-rectangle15" name="password" id="password" placeholder=" PASSWORD"><br><br>

            <span class="signup-text43"><span>Password*</span></span>
            <span class="signup-text45"><span>Email*</span></span>
            <label for="email"></label>
            <input type="text" class="signup-rectangle14" name="email" id="email" placeholder=" EMAIL "><br><br>
            
            <span class="signup-text47"><span>Get started</span></span>
            <span class="signup-text49">
              <span>Start your journey here by joining us!</span>
            </span>
            <div class="signup-noaccount">
              <span class="signup-text51"><span> Already have an account?</span></span>
              <a href="loginpage.html">
              <span class="signup-text53"><span>Log in</span></span>\
              </a>
            </div>
          </div>
        </div>
      </div>
</body>
</html>