*{
  font-family: "Red Hat Text";
}
.about-us-about-us {
  width: 100%;
  height: 1195px;
  display: flex;
  overflow: hidden;
  position: relative;
  
  align-items: center;
 
  background-image: linear-gradient(rgba(194,165,225)0%,rgba(255,255,255) 25%);
}
.about-us-footer {
  top: 950px;
  left: 0px;
  width: 1728px;
  height: 279px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(56, 6, 111);
}
.about-us-legal {
  top: 29px;
  left: 570px;
  width: 222.00001525878906px;
  height: 180.92149353027344px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-text {
  top: 68.5597915649414px;
  left: 0.000030517578125px;
  color: rgb(255, 255, 255);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-us-text02 {
  top: 113.31402587890625px;
  left: 0.000030517578125px;
  color: rgb(255, 255, 255);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-us-text04 {
  top: 154.25942993164062px;
  left: 0.000030517578125px;
  color: rgb(255, 255, 255);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-us-text06 {
  left: 35.99995422363281px;
  color: rgb(255, 255, 255);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Black;
  text-align: center;
  font-family: Outfit;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-us-menu {
  top: 29px;
  left: 142px;
  width: 293px;
  height: 180.662353515625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.about-us-text08 {
  top: 113.000244140625px;
  left: 21px;
  color: rgb(255, 253, 253);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-us-text10 {
  top: 154.000244140625px;
  color: rgb(255, 255, 255);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-us-text15 {
  top: 66px;
  left: 21px;
  color: rgb(255, 255, 255);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-us-text17 {
  left: 29px;
  color: rgb(255, 255, 255);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Black;
  text-align: center;
  font-family: Outfit;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-us-text19 {
  top: 29px;
  left: 1056px;
  color: rgb(255, 255, 255);
  width: 217px;
  height: auto;
  position: absolute;
  font-size: 35px;
  align-self: auto;
  font-style: Black;
  text-align: center;
  font-family: Outfit;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-us-navbar {
  top: 69px;
  left: 75px;
  width: 10px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.about-us-logo {
  display: flex;
  position: relative;
  box-sizing: content-box;
  align-items: center;
  border-color: transparent;
  margin-right: 25px;
}
.about-us-ellipse1 {
  width: 124px;
  height: 123px;
  left: 10px;
  position: relative;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  border-radius: 200px;
}
.about-us-text21 {
  color: rgba(14,9,240);
  width: 253px;
  height: auto;
  font-size: 40px;
  align-self: auto;
 
  font-style: ExtraBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.about-us-frame1 {
  left:10px;
  width: 170px;
  height: 115px;
  display: flex;
  padding: 5px 10px;
  position: relative;
  
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
}
.about-us-frameA{
  left:110px;
  width: 170px;
  height: 115px;
  display: flex;
  padding: 5px 10px;
  position: relative;
  
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
}
.about-us-frameB{
  left:0px;
  width: 170px;
  height: 115px;
  display: flex;
  padding: 5px 10px;
  position: relative;
  
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
}
.about-us-frameC{
  left:0px;
  width: 170px;
  height: 115px;
  display: flex;
  padding: 5px 10px;
  position: relative;
  
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  justify-content: center;
}
.about-us-text23 {
  color: black;
  left: 100px;;
  width: 160px;
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 10px;
  margin-bottom: 0;
  text-decoration: none;
}
.about-us-text25 {
  color: purple;
  width: 160px;
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 10px;
  margin-bottom: 0;
  text-decoration: none;
}
.about-us-text27 {
  color: black;
  width: 160px;
  height: auto;
  font-size: 30px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.about-us-login {
  left: 350px;
  width: 160px;
  height: 60px;
  display: flex;
  position: relative;

  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 25px;
  
}
/* .about-us-rectangle2 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 70px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(168, 189, 189, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
} */
.about-us-text29 {
  bottom: 525px;
  left: 750px;
  color: rgba(255, 255, 255, 1);
  width: 155px;
  height: 38px;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
  border-radius: 10px;
  border-color: transparent;
  background-color: transparent;
  background-image: linear-gradient(75deg, rgba(147, 11, 193, 1) 15%, rgba(105, 9, 211, 1) 32%, rgba(38, 6, 237, 1) 71%)
}
/* .about-us-signup {
  top: 10.5882568359375px;
  left: 600px;
  color: rgba(255, 255, 255, 1);
  width: 145px;
  height: 38px;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  border-radius: 10px;
  border-color: transparent;
  background-color: transparent;
  background-image: linear-gradient(75deg, rgba(147, 11, 193, 1) 15%, rgba(105, 9, 211, 1) 32%, rgba(38, 6, 237, 1) 71%)
} */
.about-us-text31 {
  top: 65px;
  left: 1325px;
  color: rgba(255, 255, 255, 1);
  width: 145px;
  height: 38px;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  border-radius: 10px;
  border-color: transparent;
  background-color: transparent;
  background-image: linear-gradient(75deg, rgba(147, 11, 193, 1) 15%, rgba(105, 9, 211, 1) 32%, rgba(38, 6, 237, 1) 71%)
}
.about-us-text33 {
  top: 190px;
  left: 388px;
  color: black;
  width: 700px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.about-us-rectangle8 {
  top: 327px;
  left: 120px;
  width: 310px;
  height: 310px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
  border-style:ridge;
  border-color: black;
  border-width: 3px;
}
.about-us-rectangle9 {
  top: 327px;
  left: 995px;
  width: 310px;
  height: 310px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
  border-style:ridge;
  border-color: black;
  border-width: 3px;
}
.about-us-rectangle10 {
  top: 327px;
  left: 555px;
  width: 310px;
  height: 310px;
  position: absolute;
  border-color: transparent;
  border-radius: 15px;
  border-style:ridge;
  border-color: black;
  border-width: 5px;
}
.about-us-text35 {
  top: 704px;
  left: 38px;
  color: black;
  width: 475px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.about-us-text37 {
  top: 750px;
  left: 38px;
  color: black;
  width: 475px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.emailicon{
  top: 2000px;
  left: auto;
  width: 60px;
  
  height :60px;
}
.about-us-text39 {
  top: 704px;
  left: 475px;
  color: black;
  width: 475px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.about-us-text41 {
  top: 750px;
  left: 490px;
  color: black;
  width: 475px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.about-us-text43 {
  top: 704px;
  left: 920px;
  color: black;
  width: 475px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.about-us-text45 {
  top: 750px;
  left: 923px;
  color: black;
  width: 475px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
a:link{
  text-decoration: none;
}
