/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap") ;
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */

*{
    font-family:'PT Sans'
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: #f5f5f5;

}

body {
    margin: 1%;
    min-height: 100vh;
}

.icon-bar {
    width: 100%; /* Full width */
    height: 4rem;
    background-color: #0e0133;
    /*overflow: auto;  Overflow that'll occur due to the float below */
}

.icon-bar a {
    float: left; /*Puts the links side by side */
    text-align: center;
    width: 20%; /* Equal width (5 icons with 20% width each and that'll equal to 100% */
    padding: 1rem 0;
    transition: all 0.3 ease; /* Add transition for the hover effects */
    color: #ffffff;
    font-size: 1.5rem; /* Icons are considered font*/
}

.icon-bar a:hover {
    background-color: #04A777; /* Hover colour*/
}

.active {
    background: #2cbfdc; /* The active page or link */
}

/* The Hero Image */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/ramen.jpg");
    height: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Placing the text in the middle of the page */
.hero-text {
    text-align: center;
    position: absolute; /* Removes the white space between the navigation and hero image*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 0.7rem;
    line-height: 1rem;
}

h1 {
    font-family: 'PT Sans','Poppins', sans-serif;
    line-height: 0px;
}

p {
    font-family: 'PT Sans','Poppins', sans-serif;
}

/* Button styling */
button {
    background-color: #F79C0D;
    font-family: 'Poppins', sans-serif;
    border: none; /* Button outline*/
    color: #fff;
    padding: 10px 25px;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

button:hover {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    font-weight: 500;
}