.login-login {
    width: 100%;
    height: 1359px;
    display: flex;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    align-items: center;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(11, 32, 223, 1) 25%, rgba(66, 82, 229, 1) 45%, rgba(138, 145, 211, 1) 63%, rgba(255, 255, 255, 0.6800000071525574) 81%, rgba(255, 255, 255, 1) 100%);
  }
  .login-footer {
    top: 1044px;
    left: 6px;
    width: 1728px;
    height: 307px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(24, 30, 81, 1);
  }
  .login-legal {
    top: 35.62451171875px;
    left: 726.9998779296875px;
    width: 222.00001525878906px;
    height: 199.0784912109375px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .login-text {
    top: 75.44033813476562px;
    left: 0.000045211229007691145px;
    color: rgba(0, 0, 0, 1);
    width: 222px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-text02 {
    top: 124.68606567382812px;
    left: 0.000045211229007691145px;
    color: rgba(0, 0, 0, 1);
    width: 222px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-text04 {
    top: 169.7406768798828px;
    left: 0.000045211229007691145px;
    color: rgba(0, 0, 0, 1);
    width: 222px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-text06 {
    left: 35.99995422363281px;
    color: rgba(0, 0, 0, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Black;
    text-align: center;
    font-family: Outfit;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-menu {
    top: 36px;
    left: 299.9999084472656px;
    width: 193px;
    height: 198.337890625px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .login-text08 {
    top: 124px;
    left: 21px;
    color: rgba(0, 0, 0, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-text10 {
    top: 169px;
    color: rgba(0, 0, 0, 1);
    width: 193px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-text15 {
    top: 75px;
    left: 21px;
    color: rgba(0, 0, 0, 1);
    width: 150px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-text17 {
    left: 49px;
    color: rgba(0, 0, 0, 1);
    width: 94px;
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Black;
    text-align: center;
    font-family: Outfit;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-text19 {
    top: 35.62451171875px;
    left: 1271px;
    color: rgba(0, 0, 0, 1);
    width: 217px;
    height: auto;
    position: absolute;
    font-size: 35px;
    align-self: auto;
    font-style: Black;
    text-align: center;
    font-family: Outfit;
    font-weight: 900;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-navbar {
    top: 69px;
    left: 126px;
    width: 1488px;
    height: 143px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
  }
  .login-logo {
    display: flex;
    position: relative;
    box-sizing: content-box;
    align-items: center;
    border-color: transparent;
    margin-right: 25px;
  }
  .login-ellipse1 {
    width: 154px;
    height: 143px;
    position: relative;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    margin-right: 0px;
    border-radius: 200px;
  }
  .login-text21 {
    color: rgba(20, 240, 255, 1);
    width: 253px;
    height: auto;
    font-size: 40px;
    align-self: auto;
  
    font-style: ExtraBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .login-frame1 {
    left:70px;
    width: 170px;
    height: 115px;
    display: flex;
    padding: 5px 10px;
    position: relative;
    
    box-sizing: content-box;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0px;
    justify-content: center;
  }
  .nav-bar-frame{
    border-color: transparent;
  }
  .login-text23 {
    color: rgba(255, 255, 255, 1);
    left: 20px;
    width: 160px;
    height: auto;
    font-size: 30px;
    align-self: auto;
    font-style: ExtraBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    margin-right: 10px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .login-text25 {
    color: rgba(255, 255, 255, 1);
    width: 160px;
    height: auto;
    font-size: 30px;
    align-self: auto;
    font-style: ExtraBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    margin-right: 10px;
    margin-bottom: 0;
    text-decoration: none;
  }
  .login-text27 {
    color: rgba(255, 255, 255, 1);
    width: 160px;
    height: auto;
    font-size: 30px;
    align-self: auto;
    font-style: ExtraBold;
    text-align: center;
    font-family: Outfit;
    font-weight: 800;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .login-login1 {
    left:320px;
    width: 160px;
    height: 60px;
    display: flex;
    position: relative;
   
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 25px;
    background-image: linear-gradient(75deg, rgba(147, 11, 193, 1) 15%, rgba(105, 9, 211, 1) 32%, rgba(38, 6, 237, 1) 71%);
    
  }
  .login-rectangle2 {
    top: 0px;
    left: 0px;
    width: 160px;
    height: 60px;
    position: absolute;
    box-sizing: content-box;
    border-color: rgba(168, 189, 189, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
  }
  .login-text29 {
    top: 10.5882568359375px;
    left: 7.39495849609375px;
    color: rgba(255, 255, 255, 1);
    width: 145px;
    height: auto;
    position: absolute;
    font-size: 28px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Outfit;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-signup {
    left:340px;
    width: 160px;
    height: 60px;
    display: flex;
    padding: 0;
    position: relative;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
    background-image: linear-gradient(75deg, rgba(147, 11, 193, 1) 15%, rgba(105, 9, 211, 1) 32%, rgba(38, 6, 237, 1) 71%);
  }
  .login-text31 {
    top: 10.5882568359375px;
    left: 7.39495849609375px;
    color: rgba(255, 255, 255, 1);
    width: 145px;
    height: auto;
    position: absolute;
    font-size: 28px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Outfit;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-submit {
    top: 795px;
    left: 689px;
    width: 410px;
    height: 64px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
    background-image: linear-gradient(75deg, rgba(147, 11, 193, 1) 15%, rgba(105, 9, 211, 1) 32%, rgba(38, 6, 237, 1) 71%);
  }
  .login-text33 {
    top: 11.294140815734863px;
    left: 18.949737548828125px;
    color: rgba(255, 255, 255, 1);
    width: 370px;
    height: auto;
    position: absolute;
    font-size: 28px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Outfit;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-frame2 {
    top: 143px;
    left: 1646px;
    width: 100px;
    height: 100px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
  }
  .login-email {
    top: 454px;
    left: 336px;
    width: 418px;
    height: 61px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(217, 217, 217, 1);
  }
  .login-text35 {
    top: 393px;
    left: 191px;
    color: rgba(255, 255, 255, 1);
    width: 405px;
    height: auto;
    position: absolute;
    font-size: 32px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Lexend Deca;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .login-password {
    top: 620px;
    left: 336px;
    width: 418px;
    height: 61px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(217, 217, 217, 1);
  }
  .login-text40 {
    top: 559px;
    left: 236px;
    color: rgba(255, 255, 255, 1);
    width: 353px;
    height: auto;
    position: absolute;
    font-size: 32px;
    align-self: auto;
    font-style: Regular;
    text-align: center;
    font-family: Lexend Deca;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .login-text42 {
    top: 243px;
    left: 717px;
    color: rgba(255, 255, 255, 1);
    width: 374px;
    height: auto;
    position: absolute;
    font-size: 48px;
    align-self: auto;
    font-style: Medium;
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .login-text47 {
    top: 324px;
    left: 572px;
    color: rgba(255, 255, 255, 1);
    width: 663px;
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Light;
    text-align: center;
    font-family: Roboto;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .login-text49 {
    top: 723px;
    left: 1100px;
    color: rgba(242, 194, 247, 1);
    width: 353px;
    height: auto;
    position: absolute;
    font-size: 28px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Outfit;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .login-text51 {
    top: 725px;
    left: 310px;
    color: rgba(255, 255, 255, 1);
    width: 353px;
    height: auto;
    position: absolute;
    font-size: 28px;
    align-self: auto;
    font-style: Bold;
    text-align: center;
    font-family: Outfit;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .login-noaccount {
    top: 890px;
    left: 689px;
    width: 410px;
    height: 28px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .login-text53 {
    color: rgba(0, 0, 0, 1);
    width: 313px;
    height: auto;
    position: absolute;
    font-size: 28px;
    align-self: auto;
    font-style: Light;
    text-align: center;
    font-family: Roboto;
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .login-text55 {
    left: 302px;
    color: rgba(137, 63, 144, 1);
    width: 108px;
    height: auto;
    position: absolute;
    font-size: 28px;
    align-self: auto;
    font-style: SemiBold;
    text-align: center;
    font-family: Roboto;
    font-weight: 600;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  a:link{
    text-decoration: none;
  }